@page
@model ProjectDemo.Pages.ExploreModel
@{
    ViewData["Title"] = "Explore";
}

<h1>Browse Products</h1>

<table>

	<thead>

	<td>name</td>
	<td>Prise</td>

	</thead>
	<tbody>

@* 		@{
			foreach (var item in @Model.usersList)
			{
				<tr>
				<td> @item.id </td>
				<td> @item.name </td>
				<td> @item.email </td>
				</tr>
			}
		}	 *@

	</tbody>
</table>