@page
@model IndexModel

@{

}

<h1>User Table</h1>

<table>

	<thead>

	<td>id</td>
	<td>name</td>
	<td>email</td>

	</thead>
	<tbody>

@* 		@{
			foreach (var item in @Model.usersList)
			{
				<tr>
				<td> @item.id </td>
				<td> @item.name </td>
				<td> @item.email </td>
				</tr>
			}
		}	 *@

	</tbody>
</table>