@page
@model IndexModel

@{
}
<!-- Set the Background image and make it fill the page -->
 <style>
    body {
        background-image: url('https://images.pexels.com/photos/934063/pexels-photo-934063.jpeg?cs=srgb&dl=pexels-ylanite-koppens-934063.jpg&fm=jpg');
		background-repeat: no-repeat;
		background-size: cover;
		padding: 0,0,0;
		max-width: 100%;

/*      
        background-position: center center;
        margin: 0;
	    
        height: 100vh;   */

    }
</style>

<div style="height: 800px;">

<header>

<div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
            <h1 class="mb-3">Clothy</h1>
                <h4 class="mb-3">Explore from various seller to find your desired product</h4>
                <form method="get" action="/Explore">
                    <button class="btn btn-outline-dark" type="submit">
                        Full Site
                    </button>
                </form>
        </div>
    </div>
</div>
</header>
</div>